.banner {
    background: url("background1.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: rgb(255, 255, 255) !important;
}

.slogan {
    text-align: center !important;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: lightgrey;
}

.block_3 {
    flex: auto;
    width: 30%;
    margin: 10px;
}

.cell_img {
    width: 50%;
}

.cell text {
    width: 50%;
    padding-left: 5rem;
}

.img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: lightgrey;
    margin: 1px;
    padding: 10px;
}

.link {
    color: navy;
    text-align: left;
}

.menu {
    font-size: 120%;
    text-decoration: none;
}